services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    environment:
      - PREDOMICS_DEBUG=true
      - PREDOMICS_DATA_DIR=/app/data
      - PREDOMICS_UPLOAD_DIR=/app/data/uploads
      - PREDOMICS_PROJECT_DIR=/app/data/projects
      - PREDOMICS_SAMPLE_DIR=/app/data/sample
